
      <section class="content-header">
        <h1>Informação</h1>
      </section>

      <section class="content">
          <p class="lead">
            Lojas Venezuela | Aplicação do Angular Projeto Final Toti
          </p>
         
         
          <p class="lead">Programadores involucrados en el Proyecto</p>
          <p class="lead">EDWIN SANCHEZ </p>
          <p class="lead">JULIO ANDRES MONTOYA</p>
          <p class="lead">ANDREA MONTOYA RUIZ </p>
          <p class="lead">AULAS DE PROGRAMACAO DA TOTI .</p>
          <p class="lead">Copyright 2020 Toter </p>
        </section>

        <h1> Ainda em ideas para construção </h1>
